<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="${basedir}/Log/NLog.txt"
      useInvariantCulture="true"
      throwExceptions="true"
      internalLogLevel="Warn"
      internalLogToConsole="true">
    
    <variable name="LogDirectory" value="${basedir}/Log" />
    <variable name="LogLayout" value="${environment:FILE__LOG__LAYOUT:default=CSV}" />
    <variable name="Tab" value="    " />
    <include file="${basedir}/NLog.Network.config" />
    <include file="${basedir}/NLog.OperationRequests.config" />

    <variable name="CommonLogLayoutMessagePart"
              value="Time: ${longdate} Type: ${level:uppercase=true} Logger: ${logger}${newline}Message: ${message}" />
    <variable name="CommonLogLayoutExceptionPart"
              value="Exception\: ${exception:format=ToString:maxInnerExceptionLevel=0:flattenException=false}" />
    <variable name="CommonLogLayout"
              value="${CommonLogLayoutMessagePart}${onException:${newline}${CommonLogLayoutExceptionPart}}${newline}" />

    <targets async="true" batchSize="100">
        
        <target name="console" xsi:type="ColoredConsole"
                layout="${longdate} ${message}${onException:${newline}Exception\: ${exception:format=ToString:maxInnerExceptionLevel=0}}" />

        <!-- File Target for all log messages with basic details -->
        <target name="asyncFile" xsi:type="AsyncWrapper">
            <target name="file"
                    xsi:type="File"
                    layout="${CommonLogLayout}"
                    fileName="${LogDirectory}/CommonLog/commonLog.${shortdate}.log"
                    maxArchiveFiles="100"
                    encoding="utf-8" />
        </target>

        <target name="sqlRequestFile" xsi:type="File"
                fileName="${LogDirectory}/SqlRequests/sqlRequests.${shortdate}.log"
                createDirs="true"
                maxArchiveFiles="7"
                archiveEvery="Day"
                archiveNumbering="Date"
                encoding="utf-8">
            <layout xsi:type="CsvLayout" delimiter="Tab" withHeader="true" quoting="Nothing">
                <column name="Duration (ms)" layout="${event-properties:item=Duration}" />
                <column name="TraceId" layout="${event-properties:item=TraceId}" />
                <column name="User" layout="${event-properties:item=User}" />
                <column name="Type" layout="${level:uppercase=true}" />
                <column name="Command" layout="${event-properties:item=Command}" />
            </layout>
        </target>

        <target name="operationModificationScopeFile" xsi:type="File"
                fileName="${LogDirectory}/OperationModificationScope/operationModificationScope.${shortdate}.log"
                createDirs="true"
                maxArchiveFiles="7"
                archiveEvery="Day"
                archiveNumbering="Date"
                encoding="utf-8">
            <layout xsi:type="CsvLayout" delimiter="Tab" withHeader="true" quoting="Nothing">
                <column name="BeginTime" layout="${event-properties:item=BeginTime:format=yyyy-MM-dd HH\:mm\:ss.ffff}" />
                <column name="EndTime" layout="${event-properties:item=EndTime:format=yyyy-MM-dd HH\:mm\:ss.ffff}" />
                <column name="Duration (ms)" layout="${event-properties:item=Duration}" />
                <column name="TraceId" layout="${event-properties:item=TraceId}" />
                <column name="User" layout="${event-properties:item=User}" />
                <column name="Operation" layout="${event-properties:item=Operation}" />
            </layout>
        </target>

        <target name="operationReaderScopeFile" xsi:type="File"
                fileName="${LogDirectory}/OperationReaderScope/operationReaderScope.${shortdate}.log"
                createDirs="true"
                maxArchiveFiles="7"
                archiveEvery="Day"
                archiveNumbering="Date"
                encoding="utf-8">
            <layout xsi:type="CsvLayout" delimiter="Tab" withHeader="true" quoting="Nothing">
                <column name="BeginTime" layout="${event-properties:item=BeginTime:format=yyyy-MM-dd HH\:mm\:ss.ffff}" />
                <column name="EndTime" layout="${event-properties:item=EndTime:format=yyyy-MM-dd HH\:mm\:ss.ffff}" />
                <column name="Duration (ms)" layout="${event-properties:item=Duration}" />
                <column name="TraceId" layout="${event-properties:item=TraceId}" />
                <column name="User" layout="${event-properties:item=User}" />
                <column name="Operation" layout="${event-properties:item=Operation}" />
            </layout>
        </target>

        <target name="operationErrorsFile" xsi:type="File"
                fileName="${LogDirectory}/OperationErrors/operationErrors.${shortdate}.log"
                createDirs="true"
                maxArchiveFiles="7"
                archiveEvery="Day"
                archiveNumbering="Date"
                encoding="utf-8">
            <layout xsi:type="CsvLayout" delimiter="Tab" withHeader="true" quoting="Nothing">
                <column name="TraceId" layout="${event-properties:item=TraceId}" />
                <column name="Exception" layout="${event-properties:item=Exception}" />
            </layout>
        </target>

    </targets>

    <rules>
        <logger name="SqlRequestsLogger" writeTo="sqlRequestFile" final="true" />
        <logger name="OperationModificationScopeLogger" writeTo="operationModificationScopeFile" final="true" />
        <logger name="OperationReaderScopeLogger" writeTo="operationReaderScopeFile" final="true" />
        <logger name="OperationErrorsLogger" writeTo="operationErrorsFile" final="true" />

        <logger name="*" minlevel="Info" writeTo="console, asyncFile" />
    </rules>
</nlog>