<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="${basedir}/Log/NLog.txt"
      throwExceptions="true"
      useInvariantCulture="true"      
      internalLogLevel="Warn"
      internalLogToConsole="true">

    <targets async="true" batchSize="100">
        <target xsi:type="File"
                name="operationRequestFile"
                fileName="${LogDirectory}/OperationRequests/operationRequests.${shortdate}.log"
                createDirs="true"
                maxArchiveFiles="7"
                archiveEvery="Day"
                archiveNumbering="Date"
                encoding="utf-8">
            <layout xsi:type="CsvLayout" delimiter="Tab" withHeader="true" quoting="Nothing">
                <column name="BeginTime" layout="${event-properties:item=BeginTime:format=yyyy-MM-dd HH\:mm\:ss.ffff}" />
                <column name="EndTime" layout="${event-properties:item=EndTime:format=yyyy-MM-dd HH\:mm\:ss.ffff}" />
                <column name="Duration (ms)" layout="${event-properties:item=Duration}" />
                <column name="Status" layout="${event-properties:item=Status}" />
                <column name="TraceId" layout="${event-properties:item=TraceId}" />
                <column name="User" layout="${event-properties:item=User}" />
                <column name="Operation" layout="${event-properties:item=Operation}" />
                <column name="IP" layout="${event-properties:item=IP}" />
                <column name="Request" layout="${event-properties:item=Request}" />
                <column name="Response" layout="${event-properties:item=Response}" />
                <column name="Exception" layout="${event-properties:item=Exception}" />
                <column name="MemoryBefore" layout="${event-properties:item=MemoryBefore}" />
                <column name="MemoryAfter" layout="${event-properties:item=MemoryAfter}" />
                <column name="MemoryDifference" layout="${event-properties:item=MemoryDifference}" />
                <column name="Generation0CollectionCount" layout="${event-properties:item=Generation0CollectionCount}" />
                <column name="Generation1CollectionCount" layout="${event-properties:item=Generation1CollectionCount}" />
                <column name="Generation2CollectionCount" layout="${event-properties:item=Generation2CollectionCount}" />
                <column name="GCCount" layout="${event-properties:item=GCCount}" />
            </layout>
        </target>
    </targets>

    <rules>
        <logger name="OperationRequestsLogger" writeTo="operationRequestFile" final="true" />
    </rules>
</nlog>