<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      internalLogFile="${basedir}/Log/NLog.txt"
      throwExceptions="true"
      useInvariantCulture="true"
      internalLogLevel="Warn"
      internalLogToConsole="true">

    <extensions>
        <add assembly="NLog.Targets.WebService" />
        <add assembly="Platform.WebApi" />
    </extensions>

    <variable name="Subsystem" value="${environment:Subsystem}" />
    <variable name="NetworkTargetUrl" value="${environment:Log_Url}" />
    <variable name="LoggerLevel" value="${when:when='${environment:Log_Url}' == '' :inner=Off:else=Info}" />

    <targets async="true" batchSize="100">
        
        <!-- Добавляет поля HostName и HostIP к каждой записи -->
        <target
            name="AddServerMetadata"
            xsi:type="AddServerMetadataWrapper">
            <!-- 10 раз по 30 секунд = 3 минуты -->
            <target
                name="RetryingNetwork"
                retryCount="10"
                retryDelayMilliseconds="30000" 
                xsi:type="RetryingWrapper">
                <target 
                    name="httpSender"
                    type="WebService"
                    url="${NetworkTargetUrl}"
                    protocol="JsonPost">
                    <parameter name="">
                        <layout type="JsonLayout" includeAllProperties="true">
                            <attribute name="Subsystem" layout="${Subsystem}" />
                            <attribute name="Logger"
                                       layout="${when:when=contains('${logger}','.'):inner=${when:when=length('${event-context:item=MessageType}') == 0:inner=CommonLog:else=${event-context:item=MessageType}}:else=${replace:inner=${logger}:searchFor=Logger:replaceWith=}}" />
                            <attribute name="LogLevel" layout="${level}" />
                            <attribute name="Message" layout="${message}" />
                            <attribute name="Exception" layout="${exception:format=ToString}" />
                        </layout>
                    </parameter>
                </target>
            </target>
        </target>
                
    </targets>

    <rules>
        <logger name="*" minlevel="${LoggerLevel}" writeTo="AddServerMetadata" />
    </rules>
</nlog>