<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="${basedir}/Log/NLog.log"
      internalLogToConsole="false">

    <variable name="LogDirectory" value="${basedir}/Log"/>
    <variable name="LogLayout" value="${environment:FILE__LOG__LAYOUT:default=CSV}"/>
    <variable name="Tab" value="    " />

    <variable name="CommonLogLayoutMessagePart" value="Time: ${longdate} Type: ${level:uppercase=true} Logger: ${logger}${newline}Message: ${message}" />
    <variable name="CommonLogLayoutExceptionPart" value="Exception\: ${exception:format=ToString:maxInnerExceptionLevel=0:flattenException=false}" />
    <variable name="CommonLogLayout" value="${CommonLogLayoutMessagePart}${onException:${newline}${CommonLogLayoutExceptionPart}}${newline}" />

    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <targets async="true">

        <target name="console" xsi:type="ColoredConsole" layout="${longdate} ${message}${onException:${newline}Exception\: ${exception:format=ToString:maxInnerExceptionLevel=0}}" />

        <!-- File Target for all log messages with basic details -->
        <target name="asyncFile" xsi:type="AsyncWrapper">
            <target name="file"
                    xsi:type="File"
                    layout="${CommonLogLayout}"
                    fileName="${LogDirectory}/CommonLog/commonLog.${shortdate}.log"
                    maxArchiveFiles="100"
                    encoding="utf-8" />
        </target>
        
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <!-- BlackHole without writeTo -->
        <logger name="Microsoft.*" maxLevel="Info" final="true" />
        <logger name="Quartz.*" maxLevel="Info" final="true" />
        <logger name="System.*" maxLevel="Info" final="true" />
        
        <logger name="*" minlevel="Info" writeTo="console"/>
        <logger name="*" minlevel="Info" writeTo="asyncFile"/>
    </rules>
</nlog>